
/*@tailwind base;*/

/**
 * Custom base styles
 */

 * {
    /* Text rendering */
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}


html {
    
    font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif;
    
}

@media screen and (max-width: 1300px) {
        .product {
   margin-left: 10% !important;
    }
  }
  @media screen and (max-width: 912px) {
    .product {
margin-left: 0% !important;
}
}