
/*@tailwind base;*/

/**
 * Custom base styles
 */

 * {
    /* Text rendering */
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}


html {
    
    font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif;
    
}
